@{
    ViewBag.Title = "Home Page";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}
<div class="jumbotron">
    @using (Html.BeginForm("SetCulture", "Home"))
    {
        <fieldset>
            <legend></legend>
            <div class="control-group">
                <div class="controls">
                    <label for="en-us">
                        <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                    </label>
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <label for="fr">
                        <input name="culture" id="fr" value="fr" type="radio" @selected("fr", culture) /> French               </label>               </div>
            </div>

        </fieldset>



    }
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET @Resources.IntroText</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
      
        <h2>@Resources.GettingStarted</h2>
        <p>
            ASP.NET MVC @Resources.GettingStartedText
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">@Resources.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.GetMoreLibraries</h2>
        <p>NuGet @Resources.GetMoreLibrariesText</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">@Resources.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.WebHosting</h2>
        <p>@Resources.WebHostingText</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">@Resources.LearnMore &raquo;</a></p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                console.log("submit form")
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>
}